<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>count</title>
    <style>
        body {
            min-height: 100%;
            padding-top: 20px;
            padding-bottom: 40px;
            font-family: "Microsoft YaHei UI", monospace;
        }
    </style>
</head>
<body>
<div class="table container">
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <td>院系</td>
            <td>提交数</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Count : ${Counts.list}">
            <td th:text="${Count.department}">sss</td>
            <td th:text="${Count.countnum}">sss</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>