<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>success</title>
    <style>
        body {
            min-height: 100%;
            padding-top: 20px;
            padding-bottom: 40px;
            font-family: "Microsoft YaHei UI", monospace;
        }
    </style>
</head>
<body>
<div class="container">
    <br>
    <br>
    <br>
    <h2>通讯稿已提交</h2>
    <hr>
    <div class="btn-group">
        <a href="goWrite" type="button" class="btn btn-primary">继续</a>
        <a href="signOut" type="button" class="btn btn-secondary">退出</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>